<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Edit Student</h1>
<p><a href="/student-list">Back to list</a></p>
<p th:if="${mess}">
    <span th:text="${mess}"></span>
</p>
<form action="/studentedit" method="post" th:object="${student}">
    <input type="hidden" th:field="*{id}">
    <table border="1">
        <tr>
            <td>Code:</td>
            <td><input type="text" th:field="*{code}"></td>
        </tr>
        <tr>
            <td>First Name:</td>
            <td><input type="text" th:field="*{firstName}"></td>
        </tr>  <tr>
        <td>Last Name::</td>
        <td><input type="text" th:field="*{lastName}"></td>
    </tr>
        <tr>
            <td>address:</td>
            <td><input type="text" th:field="*{address}"></td>
        </tr>
        <tr>
            <td>Phone Number:</td>
            <td><input type="text" th:field="*{phoneNumber}"></td>
        </tr>
        <tr>
            <td>Average Grade:</td>
            <td><input type="text" th:field="*{averageGrade}"></td>
        </tr>
        <tr>
            <td>Status:</td>
            <td><input type="text" th:field="*{status}"></td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"></td>
        </tr>
        <tr>
            <td>Note:</td>
            <td><input type="text" th:field="*{note}"></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" th:field="*{description}"></td>
        </tr>
        <tr>
            <td>Department</td>
            <td>
                <select th:field="*{department}">
                    <option th:each="p : ${department}" th:value="${p.id}" th:text="${p.name}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Student"></td>
        </tr>
    </table>
</form>
</body>
</html>